<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Imitator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <table  border="1px">
        <tr> <th>Enabled</th> <td th:text="${enabled}"></td> </tr>
        <tr th:if="${enabled} == false"> <th>Action: Start</th> <td><a href="/ui/test/imitator/start">Start</a></td> </tr>
        <tr th:if="${enabled} == true"> <th>Action: Stop</th> <td><a href="/ui/test/imitator/stop">Stop</a></td> </tr>
        <tr> <th>Action: Run Users generation</th> <td><a href="/ui/test/imitator/oneGeneration">Users generation</a></td> </tr>
        <tr> <th>Action: Run Calls\SMS\Internet usage Imitation</th> <td><a href="/ui/test/imitator/oneUsage">Run imitation</a></td> </tr>
    </table>
</div>
</body>
</html>